body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#bg {
    background: url(bg2.png) no-repeat fixed;
    background-size: cover;
    background-position-x: right;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0.5;
    position: fixed;
}
header{
    text-align: center;
    color: #FFB74C;
    background-color: #87CEFA;
    background-color: #333; /* */
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}

.content_1{
    /* background-color: #333; */
}
#dock{
    margin:auto;
    padding-bottom: 10px; 
    width: 700px;
}

.pf_wrap{
    width: 100%;
    height: 500px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 50% 1fr; 
    grid-template-columns: 1fr 50% 1fr;
    animation: fadeIn 2s ease;
}
.pf_wrap p{
    line-height: 1px;
}
.pf_wrap hr{
    margin: -8px;
}
.icon_delay{
    animation: fadeIn 1s ease;
}
.str_delay{
    animation: fadeIn 3s ease-in;
}
#pficon{
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    /* width: 100%; */
    margin: auto;
    text-align: center;
    animation: moving ease 2s forwards;
    transform: translateY(-200%);
}
#pficon span::before {
    position: absolute;
    content:"";
    width: 158px;
    height: 158px;
    left: -10px;
    bottom: -6px;
    z-index: 0;
    border: dashed #009B9F 11px;
    border-radius: 90px;
    animation: gear 10s linear infinite;
}
@keyframes gear {
    100% { transform: rotate(360deg);}
}
@keyframes moving{
    100% { transform: translateY(0); }
}
#pficon span{
    /* position: relative;
    width: 80%; */
    will-change: transform;
}
#pficon img{
    /* position: relative; */
    border-radius: 90px;
}
#line1{
    position: absolute;
    grid-row: 2/3;
    grid-column: 3/4;
    color: #eee;
    top: -30px;
    width: 100px;
}
#line2{
    position: absolute;
    grid-row: 2/3;
    grid-column: 3/4;
    color: #eee;
    left: -86px;
    top: 25px;
    width: 80px;
    transform: rotate(135deg)
}
#nameplate{
    grid-row: 2/3;
    grid-column: 3/4;
    color: #eee;
    position: absolute;
    left: 5px;
}
#line3{
    position: absolute;
    grid-row: 3/4;
    grid-column: 1/2;
    color: #eee;
    top: -30px;
    right: -50px;
    width: 100px;
}
#line4{
    position: absolute;
    grid-row: 3/4;
    grid-column: 1/2;
    color: #eee;
    right: -102px;
    top: -19px;
    width: 40px;
    transform: rotate(-45deg)
}
#interest{
    color: #eee;
    grid-row: 3/4;
    grid-column: 1/2;
    position: absolute;
    left: 130px;
    top: 0;
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* underContent */
.content_2{
    display: block;
    margin: auto;
    /* background-color: rgba(86, 89, 105, 0.514); */
    max-width: 600px;
    margin-bottom: 50px;
}
.section_title{
    /* position: relative; */
    background: #FFB74C;
    height: 45px;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    margin: 0 7vw;
}
#product{
    display: none;
}
#works {
    background-color: #ddd;
    padding: 0.01em 0;
    display: none;
}
#works h2:hover::before{
    position: absolute;
    margin-left: -30px;
    content: "▷ ";
    animation: rot linear 1s infinite;
}
#works h2:hover{
    color: #3f3933;
}
#works #end{
    text-align: right;
    padding-right: 20px;
    transition: ease 1s;
}
#works #end p:hover{
    color: #3f3933;
}
#works #end p:hover::before{
    position: absolute;
    content: ">";
    margin-left: -15px;
    animation: move1 ease 0.5s forwards;
    transform: translateX(-10px);
}
#works #end p:hover::after{
    position: absolute;
    content: "<";
    margin-left: 5px;
    animation: move1 ease 0.5s forwards;
    transform: translateX(10px);
}
@keyframes move1{
    100% { transform: translateX(0);}
}

.content_2_dock{
    margin: 0 15%;
}

.content_footer{
    background-color: #333;
}

#about{
    color: #fff;
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

#social{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #FFB74C;
    border-radius: 10px;
    box-shadow: #FFB74C 0px 0px 25px;
    padding-bottom: 5px;
    /* height: 200px; */
}
#social-title{
    color: #eee;
    text-align: center;
}
#social ul{
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 0;
}
#social li{
    position: relative;
    list-style: none;
    margin: 10px 15px;
    transition: ease 0.2s;
    z-index: 50;
}
#social li:hover{
    /* transform: translate(-5%, -5%); */
}

@keyframes scaleup {
    0% { transform: scale(0.5, 0.1); opacity: 0;}
    40% { transform: scale(1.0, 0.7); opacity: 0.1;}
    60% { transform: scale(1.7, 1.3); opacity: 1.0;}
    80% { transform: scale(1.5, 1.1);}
    100% { transform: scale(1.4, 1.4);}
}
#social li > a:hover::before{
    position: absolute;
    content: "";
    background: #333; 
    /* border: 2px dotted #222; */
    box-sizing: border-box;
    z-index: -1;
    width: 100%;
    height: 95%;
    border-radius: 5px;
    animation: scaleup linear 0.12s forwards;
}

@keyframes rot {
    100% { transform: rotateX(360deg);}
}
#social #nav a:visited{
    color: #fff;
}
#social #nav a:hover{
    color: #0f0;
}
#social #nav a:hover::before{
    position: absolute;
    margin-left: -20px;
    content: "▷ ";
    animation: rot linear 1s infinite;
}

footer{
    /* background: #333; */
    bottom: 0;
    text-align: center;
    width: calc(100% - 20px);
    color: #fff;
    padding: 5px 10px 5px 10px;
}