body {
    margin: 0px;
    padding: 0px;
    background-color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
        
header{
    text-align: center;
    color: #333;
    background-color: #87CEFA;
    background-color: #FFB74C; /* */
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}
h1 {
    margin: 0;
}

.content_1{
    background-color: #333;
}
#dock{
    margin:auto;
    padding-top: 30px;
    padding-bottom: 10px; 
    width: 700px;
}

.pf_wrap{
    width: 100%;
    position: relative;
    display: inline-flex;
}
#dummy{
    width: 30%;
}
#pficon{
    text-align: center;
    width: 40%;
}
#pficon span::before {
    position: absolute;
    content:"";
    width: 158px;
    height: 158px;
    left: -10px;
    bottom: -6px;
    z-index: 0;
    border: dashed #eee 11px;
    border-radius: 90px;
    animation: gear 10s linear infinite;
}
@keyframes gear {
    100% { transform: rotate(360deg);}
}
#pficon span{
    position: relative;
    width: 80%;
}
#pficon img{
    position: relative;
    border-radius: 90px;
}
#nameplate{
    color: #eee;
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* innerContents */
.innerContents{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0;
}
.blockdetail{
    position: relative;
    margin: 0px;
    border: solid #333 10px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-transition:	all 0.4s ease;
    transition: all 0.4s ease;
}
.blockdetail a{
    display: block;
    width: 100%;
    height: 100%;
}
.blockdetail img{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transition:	all 0.4s ease;
    transition: all 0.4s ease;
}
.blockdetail:hover{
    box-shadow: #ddd 0px 5px 10px inset;
}
.mask{
    position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition:	all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none;
    line-height: 20px;
    font-size: 45px;
    font-weight: bolder;
}
@keyframes fadeIn{
    0% { opacity: 0; }
    30% { opacity: 0; }
    100% { opacity: 1; }
}
/* twitter */
#twitter{
    height: 140px;
    width: 70%;
    background: #cfedff;
    overflow: hidden;
    animation: fadeIn 0.8s ease;
}
#twitter img{
    transform: translateX(0);
}
#twitter #tw_mask{
    margin-right: -160%;
    transform: translateX(0);
    color: #1DA1F2;
}
#twitter:hover #tw_mask{
    transform: translateX(-27%);
}
#twitter a:visited{
    color: #1DA1F2;
}
#twitter:hover img{
    transform: translateX(-110%);
}
#twitter:hover{
    background: #fff;
}

/* github */
#github{
    height: 140px;
    width: 30%;
    background: #999;
    animation: fadeIn 1.6s ease;
    overflow: hidden;
}
#github img{
    transform: translateY(0);
}
#github #gh_mask{
    transform: translateY(100%);
    color: #24292E;
    font-size: 35px;
}
#github:hover #gh_mask{
    transform: translateY(40%);
}
#github a:visited{
    color: #24292E;
}
#github:hover img{
    transform: translateY(-30%);
}
#github:hover{
    background: #fff;
}

/* niconico */
#nico{
    height: 260px;
    width: 25%;
    background: #ddd;
    animation: fadeIn 2.4s ease;
    overflow: hidden;
}
#nico img{
    transform: translateY(0);
}
#nico #nico_mask1{
    transform: translate(100%, 35%);
    color: #272727;
}
#nico #nico_mask2{
    transform: translate(-100%, 50%);
    color: #272727;
}
#nico:hover #nico_mask1{
    transform: translate(0, 33%);
}
#nico:hover #nico_mask2{
    transform: translate(0, 50%);
}
#nico a:visited{
    color: #272727;
}
#nico:hover img{
    transform: translateY(-70%);
}
#nico:hover{
    background: #fff;
}

#hatena{
    height: 260px;
    width: 25%;
    background: #4D8;
    animation: fadeIn 3.2s ease;
}
#unknown{
    height: 260px;
    width: 50%;
    background: #aaa;
    animation: fadeIn 4.0s ease;
}

#dummy2{
    height: 50px;
}
footer{
    display: block;
    position: absolute;
    color: #fff;
    right: 0px;
    padding: 5px 10px 5px 10px;
}