body {
    margin: 0px;
    padding: 0px;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
        
header{
    text-align: center;
    color: #333;
    background-color: #87CEFA;
    background-color: #FFB74C; /* */
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}
h1 {
    margin: 0;
}

.content_1{
    background-color: #fff;
}
#dock{
    margin:auto;
    padding-top: 30px;
    padding-bottom: 10px; 
    width: 800px;
}

#pficon{
    text-align: center;
}
#pficon span::before {
    position: absolute;
    content:"";
    width: 158px;
    height: 158px;
    left: -10px;
    bottom: -6px;
    z-index: 0;
    border: dashed #eee 11px;
    border-radius: 100px;
    animation: gear 10s linear infinite;
}
@keyframes gear {
    100% { transform: rotate(360deg);}
}
#pficon span{
    position: relative;

}
#pficon img{
    position: relative;
    border-radius: 100px;
}

#profile {
    margin: auto;
}
#profile h2 {
    position: relative;
    padding: 2px 0px 4px 30px;
    line-height: 1em;
    color: #333;
    border-radius: 8px;
    box-shadow: -2px 2px #666;
    /*border-bottom: dashed 2px #333;*/
    /*border-right: dashed 2px #333;*/
    box-sizing: border-box;
    /*background-color: rgba(255,183,76,0.4);*/
    margin-bottom: 0em;
}
#profile h2::before{
    content: '🔼';
    position: absolute;
    color: #009933;
    transform: rotate(90deg);
    top: 0;
    left: 0.5em;
    width: 0.5em;
}
#profile div{
    margin-top: -0.5em; 
    margin-bottom: -1.5em;
    display: inline-flex;
    vertical-align: top;
    width: 100%;
}
#profile h4{
    margin-top: 1em;
    padding-left: 3em;
}
#profile div p{
    padding-left: 1em;
}
#profile > p{
    padding-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#link {
    text-align: center;
}
#link ul {
    padding: 0px;
    height: 100px;
}
#link li {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
#link span {
    position: relative;
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    transition: 0.3s;
    transition-timing-function: inherit;
}
#link span:hover{
    background-color: #f6f6f6;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px  #333;
}
#link img{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#twitter{
    left: 0;
    right: 0;
    top: 0.5em;
    bottom: auto;
}
#github{
    left: 0;
    right: 0;
    top: 1em;
    bottom: auto;
}

footer{
    display: block;
    position: absolute;
    color: #fff;
    right: 0px;
    padding: 5px 10px 5px 10px;
}